:root {
  --brand-color: #4d5ae5;
  --shadows-color: #2e2f42;
  --background: #ffffff;
  --cloud: #f4f4fd;
  --background-footer: #2e2f42;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background);
  line-height: 1.5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.navigation-link {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  color: var(--shadows-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-footer);
}

.focused:hover,
.focused:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: currentColor;
}

.footer {
  background-color: var(--background-footer);
}

.footer-logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--cloud);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.logo-footer {
  color: #f4f4fd;
}

.section-subject {
  background-color: var(--background-footer);
}

.title {
  color: var(--background);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.title-button {
  font-family: 'Roboto', sans-serif;
  color: var(--background);
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: var(--brand-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: var(--cloud);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.button {
  cursor: pointer;
}

.subtitle {
  color: var(--background-footer);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.subtitle-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-caption {
  background-color: #f4f4fd;
}

.benefits {
  color: var(--background-footer);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-team {
  color: var(--background-footer);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.title-team-item {
  background-color: #ffffff;
}
.name {
  color: var(--background-footer);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.profession {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button {
  cursor: pointer;
}

.link-upper {
  color: #434455;
}

.subtitle-upper {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mark {
  line-height: 1.5;
}

.mark-text {
  letter-spacing: 0.02em;
}

.text-upper {
  letter-spacing: 0.02em;
}
